<launch>
	<!-- <node pkg="cyborg_audio" name="cyborg_audio" type="audio.py" output="screen"/> -->
	<!-- <include file="$(find cyborg_behavior)/behavior.launch"/> -->
	<!-- <node pkg="cyborg_eventscheduler" name="cyborg_eventscheduler" type="eventscheduler.py" output= "screen" /> -->
	<!-- <node pkg="cyborg_primary_states" name="cyborg_primary_states" type="primary_states.py" output = "screen" /> -->
	<!-- <node pkg="cyborg_controller" name="cyborg_controller" type="controller.py" required="true" output="screen" /> -->
	<!-- <node pkg="cyborg_led_dome" name="cyborg_led_dome" type="led_dome.py" output="screen"/> -->
	<!-- <node pkg="cyborg_navigation" name="cyborg_navigation" type="navigation.py" output="screen" /> -->
	
	<!-- <node pkg="smach_viewer" name="smach_viewer" type="smach_viewer.py" output="screen" /> -->
	<!-- <node pkg="rosaria" name="rosaria" type="RosAria" output="screen" /> -->
	<!-- <node pkg="rosarnl" name="rosarnl" type="rosarnl_node" output="screen" /> -->
	
	<include file="$(find cyborg_bt)/launch/cyborg_bt.launch" />
	<include file="$(find cyborg_nav)/launch/cyborg_nav.launch" />

	<!-- Runs the behavior3 editor -->
	<!-- <node name="behavior3editor" pkg="cyborg_launch" type="start_behavior3editor.sh" output="screen" /> -->

	<node pkg="rosarnl" name="rosarnl" type="rosarnl_node" output="screen" />

	<!-- Runs the rqt graph visualisation of the behavior tree -->
	<!-- <node pkg="rqt_bt" name="rqt_bt" type="rqt_bt" output="screen" /> -->

</launch>
