<launch>
	<include file="$(find cyborg_behavior)/behavior.launch"/>
	<node pkg="cyborg_navigation" name="cyborg_navigation" type="navigation.py" output="screen" />
	<node pkg="cyborg_audio" name="cyborg_audio" type="audio.py" output="screen"/>
	<node pkg="cyborg_led_dome" name="cyborg_led_dome" type="led_dome.py" output="screen"/> 
	<node pkg="cyborg_primary_states" name="cyborg_primary_states" type="primary_states.py" output = "screen" />
	<node pkg="cyborg_eventscheduler" name="cyborg_eventscheduler" type="eventscheduler.py" output= "screen" />
	
	<!-- <node pkg="cyborg_controller" name="cyborg_controller" type="controller.py" required="true" output="screen" /> -->
	<!-- The controller gives an error saying "NameError: global name 'event_values' is not defined", which has not been solved -->

	<node pkg="cyborg_commander" name="cyborg_commander" type="commander.py" required="true" output="screen" />

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/> 
	<include file="$(find cyborg_2dnav)/cyborg_config.launch"/>
	<include file="$(find cyborg_2dnav)/move_base.launch"/>

	<!-- <node pkg="smach_viewer" name="smach_viewer" type="smach_viewer.py" output="screen" /> -->
	<!-- smach_viewer creates a funny error which it continuously writes to terminal, therefore it might be a good idea to run it in its own terminal window -->

</launch> 