<launch>
	<node pkg="cyborg_audio" name="cyborg_audio" type="audio.py" output="screen"/>
	<include file="$(find cyborg_behavior)/behavior.launch"/>
	<node pkg="cyborg_eventscheduler" name="cyborg_eventscheduler" type="eventscheduler.py" output= "screen" />
	<node pkg="cyborg_primary_states" name="cyborg_primary_states" type="primary_states.py" output = "screen" />
	<node pkg="cyborg_controller" name="cyborg_controller" type="controller.py" required="true" output="screen" />
	<!-- <node pkg="cyborg_led_dome" name="cyborg_led_dome" type="led_dome.py" output="screen"/> -->
	<node pkg="cyborg_navigation" name="cyborg_navigation" type="navigation.py" output="screen" />
	
	<node pkg="smach_viewer" name="smach_viewer" type="smach_viewer.py" output="screen" />
	<!-- <node pkg="rosaria" name="rosaria" type="RosAria" output="screen" /> -->
	<!-- <include file="$(find rosaria_client)/launch/rosaria_client_launcher.launch" /> -->
	<!-- <node pkg="rosarnl" name="rosarnl" type="rosarnl_node" output="screen" /> -->
	
</launch>

<!-- ToDo: Add all other nodes to the launch file, and rename the launchfile and move it to its own folder within catkin_ws/src/ so that its a launch for the robot and not a launch for the controller as it seems now. -->
<!-- Note: If we add the arnl node to here will it always look for that? What if you want to use the simulator? Is all this redundant when changing out the navigation node for the ros_navigation stack ? -->
