<launch>
    <arg name="map_file" default="$(find cyborg_nav)/maps/glassgarden.map" />
    <arg name="write_map" default="false" />

    <node pkg="cyborg_nav" name="load_map" type="load_map.py" output="screen" if="$(arg write_map)">
        <param name="map_file" value="$(arg map_file)" />
    </node>

    <node pkg="cyborg_nav" name="available_goals" type="available_goals.py" output="screen">
        <param name="map_file" value="$(arg map_file)" />
    </node>

    <node pkg="cyborg_nav" name="closest_goal" type="closest_goal.py" output="screen">
        <param name="available_goals" value="/cyborg/nav/get_available_goals" />
    </node>

    <node pkg="cyborg_nav" name="distance_to_goal" type="distance_to_goal.py" output="screen">
    </node>
</launch>
