actionlib==1.11.13
attrs==15.2.0
backports.ssl-match-hostname==3.4.0.2
base-local-planner==1.14.7
behavior3py==0.1.0
catkin==0.7.20
catkin-pkg==0.4.18
catkin-pkg-modules==0.4.18
catkin-tools==0.4.5
colour==0.1.5
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
interactive-markers==1.11.5
laser-geometry==1.6.5
launchpadlib==1.10.3
networkx==2.2
npyscreen==4.10.5
numpy==1.16.5
pandas==0.24.2
pluginlib==1.11.3
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0
Pygments==2.1
pygobject==3.20.0
pygpgme==0.3
pygraphviz==1.3.1
pymongo==3.10.1
PyMySQL==0.7.2
PyOpenGL==3.0.2
PyOpenGL-accelerate==3.1.0
pyOpenSSL==17.2.0
pyparsing==2.0.3
pyserial==3.0.1
Pyste==0.9.10
python-dateutil==2.8.0
python-qt-binding==0.3.7
python-snappy==0.5
python-vlc==3.0.7110
pyttsx3==2.7
pytz==2019.3
PyYAML==3.11
rosapi==0.11.6
rosbag==1.12.14
rosbridge-library==0.11.6
rosbridge-server==0.11.6
rosclean==1.14.6
rosdep==0.19.0
rosdep-modules==0.19.0
rosdistro==0.8.1
rosdistro-modules==0.8.1
rosgraph==1.12.14
rosinstall==0.7.8
rosinstall-generator==0.1.19
roslaunch==1.12.14
roslib==1.14.6
roslz4==1.12.14
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospkg==1.2.6
rospkg-modules==1.2.6
rospy==1.12.14
rospy-message-converter==0.5.0
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.6
roswtf==1.12.14
sensor-msgs==1.12.7
simplejson==3.8.1
smach==2.0.1
smach-ros==2.0.1
smach-viewer==2.0.2
smclib==1.8.3
tf==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
tf2-sensor-msgs==0.5.20
wstool==0.1.17
wxPython==3.0.2.0
wxPython-common==3.0.2.0