actionlib==1.11.13
adium-theme-ubuntu==0.3.4
angles==1.9.12
asn1crypto==1.0.0
attrs==15.2.0
autobahn==0.10.3
backports.ssl-match-hostname==3.4.0.2
base-local-planner==1.14.7
behavior3py==0.1.0
bzr==2.7.0
catkin==0.7.20
catkin-pkg==0.4.18
catkin-pkg-modules==0.4.18
catkin-tools==0.4.5
cffi==1.12.3
chardet==2.3.0
colour==0.1.5
configobj==5.0.6
cryptography==2.7
decorator==4.4.2
defusedxml==0.4.1
docutils==0.12
dynamic-reconfigure==1.5.50
ecdsa==0.13.3
empy==3.3.2
enum34==1.1.2
futures==3.0.5
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
httplib2==0.9.1
idna==2.0
interactive-markers==1.11.5
ipaddress==1.0.16
keyring==7.3
laser-geometry==1.6.5
launchpadlib==1.10.3
lazr.restfulclient==0.13.4
lazr.uri==1.0.3
lz4==0.7.0
mercurial==3.7.3
message-filters==1.12.14
mpi4py==1.3.1
msgpack-python==0.4.6
ndg-httpsclient==0.4.0
netifaces==0.10.4
networkx==2.2
nose==1.3.7
npyscreen==4.10.5
numpy==1.16.5
oauth==1.0.1
osrf-pycommon==0.1.9
PAM==0.4.2
pandas==0.24.2
paramiko==1.16.0
Pillow==3.1.2
pluginlib==1.11.3
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0
Pygments==2.1
pygobject==3.20.0
pygpgme==0.3
pygraphviz==1.3.1
pymongo==3.10.1
PyMySQL==0.7.2
PyOpenGL==3.0.2
PyOpenGL-accelerate==3.1.0
pyOpenSSL==17.2.0
pyparsing==2.0.3
pyserial==3.0.1
Pyste==0.9.10
python-dateutil==2.8.0
python-qt-binding==0.3.7
python-snappy==0.5
python-vlc==3.0.7110
pyttsx3==2.7
pytz==2019.3
PyYAML==3.11
requests==2.9.1
resource-retriever==1.12.6
roman==2.0.0
rosapi==0.11.6
rosbag==1.12.14
rosbridge-library==0.11.6
rosbridge-server==0.11.6
rosclean==1.14.6
rosdep==0.19.0
rosdep-modules==0.19.0
rosdistro==0.8.1
rosdistro-modules==0.8.1
rosgraph==1.12.14
rosinstall==0.7.8
rosinstall-generator==0.1.19
roslaunch==1.12.14
roslib==1.14.6
roslz4==1.12.14
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospkg==1.2.6
rospkg-modules==1.2.6
rospy==1.12.14
rospy-message-converter==0.5.0
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.6
roswtf==1.12.14
SecretStorage==2.1.3
sensor-msgs==1.12.7
service-identity==16.0.0
simplejson==3.8.1
six==1.10.0
smach==2.0.1
smach-ros==2.0.1
smach-viewer==2.0.2
smclib==1.8.3
tf==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
tf2-sensor-msgs==0.5.20
topic-tools==1.12.14
tornado==4.2.1
trollius==2.0.1
Twisted==16.0.0
txaio==1.0.0
unity-lens-photos==1.0
urllib3==1.13.1
vcstools==0.1.42
wadllib==1.3.2
wstool==0.1.17
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zope.interface==4.1.3
