<library path="src">
  <class name="RosBT" type="rqt_bt.rqt_bt.RosBT" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to visualize a ROS behavior tree.
    </description>
    <qtgui>
      <group>
        <label>Introspection</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to introspection.</statustip>
      </group>
      <label>Behavior Tree</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin for visualizing the ROS behavior tree.</statustip>
    </qtgui>
  </class>
</library>
